## Imports

In [61]:
import pandas as pd

## Load data

In [62]:
original = pd.read_csv("../data/leetcode-parsed/clean_leetcode_data.csv", sep=';')
relabeled = pd.read_csv("../data/leetcode-parsed/ai_audited/relabeled_clean_leetcode_data.csv", sep=';')

## Sample to see a diff on

In [63]:
diff = relabeled.iloc[0]['code']

## 'Before' label

In [64]:
before = original.loc[original['code'] == diff]

## Dropping duplicates

In [65]:
relabeled.drop_duplicates(subset='code', inplace=True)
original.drop_duplicates(subset='code', inplace=True)

## Set index as the update method aligns on indices

In [66]:
original.set_index('code', inplace=True)
relabeled.set_index('code', inplace=True)

## Update /w new labels

In [67]:
original.update(relabeled)

## 'After' label

In [68]:
after = original.loc[original.index == diff]

## Post-update comparison

In [69]:
before

                                                 code complexity
22  class Solution(object):\n    def toHexspeak(se...       O(n)

In [70]:
after

                                                   complexity
code
class Solution(object):\n    def toHexspeak(sel...    O(logn)

## Save back

### Get the col back

In [71]:
original.reset_index(inplace=True)
original

                                                   code complexity
0     class Solution(object):\n    def minimumLines(...   O(nlogn)
1     class Solution(object):\n    def lastVisitedIn...       O(n)
2     \nclass TreeNode(object):\n    def __init__(se...       O(n)
3     MOD = 10**9+7\nFACT, INV, INV_FACT = [[1]*2 fo...   O(nlogn)
4     class Solution(object):\n    def countFairPair...   O(nlogn)
...                                                 ...        ...
2490  class Solution(object):\n    def postorder(sel...       O(n)
2491  class Solution2(object):\n    def postorder(se...       O(n)
2492  class Solution2(object):\n    def largestSumAf...   O(nlogn)
2493  class Solution(object):\n    def findMin(self,...    O(logn)
2494  class Solution2(object):\n    def findMin(self...    O(logn)

[2495 rows x 2 columns]

In [73]:
original.to_csv("../data/leetcode-parsed/clean_leetcode_data.csv", index=False)